<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div class="container">
    <div class="row">
        <!--<div class="col-sm-7">-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Name</div>
                    <div class="panel-body">
                        <p th:text="${name}"></p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Version</div>
                    <div class="panel-body">
                        <p th:text="${version}"></p>
                    </div>
                </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Description</div>
                <div class="panel-body">
                    <ul  class="list-group" th:each="item : ${description}">
                        <li class="list-group-item" th:text="${item}"></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Contributors</div>
                <div class="panel-body">
                    <ul class="list-group" th:each="item : ${contributors}">
                        <li class="list-group-item" th:text="${item}"></li>
                    </ul>
                </div>
            </div>
        <!--</div>-->
        <!--<div class="col-sm-5">-->
            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">Axiom Info</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul class="list-group" th:each="item : ${axiomInfo}">-->
                        <!--<li class="list-group-item" th:text="${item}"></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    </div>
    </div>
</body>
</html>